* 
{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: white;
  background-color: grey;
}

/* Dette er en navigasjonsbar*/
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: white;
  background-color: grey;
}

main {
  display: flex; /* Bruker flexbox for å plassere innhold */
            justify-content: space-between; /* Plasserer innhold til venstre og høyre */
            padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  flex: 1; /* Tar opp ledig plass i midten */
}

#boks1 {
  border-radius: 25px;
  width: 180px;
  height: 50px;
  padding: 10px;
  border: 5px solid turquoise;
  margin: 10px;
  text-align: center;
}


.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


p {


  }

.text-overlay {

  font-family: 'Times New Roman', Times, serif;



}

aside {
  background-color: grey;
  color: white;
  display: flex;
  flex: 1; /* Tar opp like mye plass som hovedinnhold */
  text-align: center; /* Justerer innholdet i aside */
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center; /* Sentraliserer innholdet i footeren */
  margin-top: 20px;
}



section {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 25px;


}

/* Plasserer skygger for å gjøre det om til ett kort*/
.kort {
box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;

}

.kort img {
height: 150px;
width: 200px;


}

/* Plassere dypere skygger når du plasserer pekeren oppå bildet. Dette er for å gjøre det mer interaktiv.*/
.kort:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/*Plasserer mer padding inni containeren for å utheve denne mer*/
.container {
  padding: 2px 16px;

}

.Topp5spill {


}
